.background-wrapper{
    background-image: url(../images/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 46px;
}

.container{
    margin: 0 auto;
    width: 1030px;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;

}

.main-logo{
    width: 180px;
    height: 51px;
}

.logo{
    display: flex;
    flex-direction: row;
    position: relative;
}

.logo:hover{
    color: #F26522;
    .image-logo{
        z-index: 0;
    }
    .image-logo__hover{
        z-index: 2;
    }
}

.logo-name{
    position: absolute;
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: flex-end;
}

.image-logo{
    margin-right: 8px;
    z-index: 3;
}

.image-logo__hover{
    position: absolute;
}

.logo-text-one{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 29px;
    line-height: 29px;
}

.logo-text-two{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
}

.contact-box{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 61px;
    justify-content: space-between;
}

.mail-link:hover, .tel-link:hover{
    color: #F26522;
}

.grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 53px;
}

.grid-el{
    height: 260px;
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-el:hover .item-name{
    color: #F26522;
}

.grid-el:hover .details-box{
    display: block;
    position: absolute;
    bottom: 0;
    transition: bottom 0.5s;
    opacity: 1;
}

.item-image{
    width: 300px;
    height: 220px;
    padding-top: 0;
    position: relative;
}

.details-box{
    position: absolute;
    display: flex;
    height: 55px;
    width: 101%;
    background-color: #F26522;
    opacity: 0;
    bottom: -55px;
}

.price-text{
    color: #FFF;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 10px;
    margin-top: 8px;
    margin-left: 16px;
}

.item-price{
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    margin-bottom: 12px;
    margin-left: 16px;
}

.item-details{
    display: block;
    color: #FFF;
    font-size: 14px;
    width: 100px;
    font-family: 'Roboto';
    line-height: 14px;
    align-self: flex-end;
    position: absolute;
    right: 14px;
    bottom: 12px;
}

.item-details::after{
    width: 5px;
    height: 10px;
    content: '';
    background-image: url(../images/more.svg);
    position: absolute;
    left: 75px;
}


.item-name{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    padding-bottom: 15px;
}

.footer-text{
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

/* src="https://img.icons8.com/windows/32/forward.png" alt="forward"/> */